<ion-content>


<div class="d-flex flex-column flex-gap-vw-md">
    <div>
        <ion-label class="title">Good Morning</ion-label>
    </div>

    <div>
        <swiper-container class="slider" [loop]="true" [pagination]="true" autoplay="true" autoplay-delay="5000">
            <swiper-slide class="slider-item d-flex align-items-center">
                <div class="p text-center">
                    <ion-label class="slider-title">
                        Psalms 118:8
                    </ion-label>

                    <div>
                        "It is better to take refuge in the Lord than to trust in man." 
                    </div>

                    <button class="btn btn-light">
                        Read more
                    </button>
                </div>
            </swiper-slide>

            <swiper-slide class="slider-item d-flex align-items-center justify-content-center">
                <div class="p text-center">
                    <ion-label class="slider-title">
                        10 Commandments
                    </ion-label>
                    <br>
                    <button class="btn btn-light">
                        Read more
                    </button>
                </div>
            </swiper-slide>
        </swiper-container>
    </div>

    <div class="d-flex flex-column flex-gap-sm">

        <div class="d-flex flex-gap-sm align-items-center">
            <ion-label class="subtitle flex-fill">Favorites</ion-label>
        </div>
    
        <div class="d-flex flex-gap flex-wrap">
            <div class="favorites d-flex align-items-center justify-content-center">
                <span>
                    PSA
                </span>
            </div>

            <div class="favorites d-flex align-items-center justify-content-center">
                <span>
                    DAN
                </span>
            </div>

            <div class="favorites d-flex align-items-center justify-content-center">
                <span>
                    REV
                </span>
            </div>

            <div class="favorites d-flex align-items-center justify-content-center">
                <span>
                    JOB
                </span>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column flex-gap-sm">

        <div class="d-flex flex-gap-sm align-items-center">
            <div class="title flex-fill">Old Testament</div>
            <ion-label color="medium">View All</ion-label>
        </div>
    
        <div class="card">
            <div class="card-body">
    
                <div class="d-flex flex-gap flex-wrap">
    
                    <div class="books d-flex align-items-center justify-content-center">
                        <span>
                            GEN
                        </span>
                    </div>
    
                    <div class="books d-flex align-items-center justify-content-center">
                        <span>
                            EXO
                        </span>
                    </div>
    
                    <div class="books d-flex align-items-center justify-content-center">
                        <span>
                            LEV
                        </span>
                    </div>
    
                    <div class="books d-flex align-items-center justify-content-center">
                        <span>
                            NUM
                        </span>
                    </div>
    
                    <div class="books d-flex align-items-center justify-content-center">
                        <span>
                            DEU
                        </span>
                    </div>
    
                    <div class="books d-flex align-items-center justify-content-center">
                        <span>
                            JOS
                        </span>
                    </div>
    
                    <div class="books d-flex align-items-center justify-content-center">
                        <span>
                            JUD
                        </span>
                    </div>
    
                    <div class="books d-flex align-items-center justify-content-center">
                        <span>
                            RUT
                        </span>
                    </div>
    
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column flex-gap-sm pb-gap-md">
        <div class="d-flex flex-gap-sm align-items-center">
            <div class="title flex-fill">New Testament</div>
            <ion-label color="medium">View All</ion-label>
        </div>
    
        <div class="card">
            <div class="card-body">
    
                <div class="d-flex flex-gap flex-wrap">
    
                    <div class="books d-flex align-items-center justify-content-center">
                        <span>
                            MAT
                        </span>
                    </div>
    
                    <div class="books d-flex align-items-center justify-content-center">
                        <span>
                            MAR
                        </span>
                    </div>
    
                    <div class="books d-flex align-items-center justify-content-center">
                        <span>
                            LUK
                        </span>
                    </div>
    
                    <div class="books d-flex align-items-center justify-content-center">
                        <span>
                            JOH
                        </span>
                    </div>
    
                    <div class="books d-flex align-items-center justify-content-center">
                        <span>
                            ACT
                        </span>
                    </div>
    
                    <div class="books d-flex align-items-center justify-content-center">
                        <span>
                            ROM
                        </span>
                    </div>
    
                    <div class="books d-flex align-items-center justify-content-center">
                        <span>
                            1CO
                        </span>
                    </div>
    
                    <div class="books d-flex align-items-center justify-content-center">
                        <span>
                            2CO
                        </span>
                    </div>
    
                </div>
            </div>
        </div>
    </div>

</div>

</ion-content>