.slider {

    .slider-item {
        height: 40vw;
        background-color: var(--color-pure-white);
        border-radius: var(--border-radius);
        font-size: 5vw;

        .slider-title {
            font-size: 4vw;
        }
    }

}

.books {
    width: calc((100vw - 112px) / 4); // 112px = 16padding x 7
    height: calc((100vw - 112px) / 4);
    border-radius: var(--border-radius-lvl2);
    font-size: 4vw;
    box-shadow: var(--box-shadow);
    color: var(--ion-color-dark);
}