.chapters {
    width: calc((100vw - 112px) / 6);
    height: calc((100vw - 112px) / 6);
    border-radius: 10px;
    font-size: 3vw;
    box-shadow: var(--box-shadow);
    color: var(--ion-color-dark);
}