<div class="d-flex flex-gap flex-column p">

    <div id="router-outlet">
        <!-- ion-router-outlet is having an issue in child layout -->
        <!-- <ion-router-outlet></ion-router-outlet> -->

        <!-- router-outlet is a quick fix for the child layout but lose the fancy transition -->
        <router-outlet></router-outlet>
    </div>

    <div id="nav" class="d-flex justify-content-center">

        <div id="nav-child" class="d-inline-flex align-items-center flex-gap">
            <div class="item d-flex align-items-center justify-content-center">
                <ion-icon name="home-outline"></ion-icon>
            </div>
            <div class="item d-flex align-items-center justify-content-center">
                <ion-icon name="search-outline"></ion-icon>
            </div>
            <div class="item d-flex align-items-center justify-content-center">
                <ion-icon name="settings-outline"></ion-icon>
            </div>
        </div>
        
    </div>
    
</div>