<!-- <ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title class="text-bold">Aklat</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content>
    <!-- <div> -->
        <!-- ion-router-outlet is having an issue in child layout -->
        <!-- <ion-router-outlet></ion-router-outlet> -->

        <!-- router-outlet is a quick fix for the child layout but lose the fancy transition -->
        <router-outlet id="router-outlet"></router-outlet>
    <!-- </div> -->
</ion-content>

<ion-footer class="p-sm">

    <!-- <ion-toolbar> -->
        <div id="nav" class="d-flex justify-content-center">

            <div id="nav-child" class="d-inline-flex align-items-center flex-gap">
                <div routerLink="/"
                    class="item d-flex align-items-center justify-content-center">
                    <ion-icon name="home-outline"></ion-icon>
                </div>
                <div class="item d-flex align-items-center justify-content-center">
                    <ion-button id="open-modal" (click)="booksModal()"
                        color="medium" shape="round" size="small">
                        <ion-icon slot="icon-only" name="book-outline"></ion-icon>
                    </ion-button>
                    <!-- <ion-icon name="book-outline"></ion-icon> -->
                </div>
                <div class="item d-flex align-items-center justify-content-center">
                    <ion-icon name="settings-outline"></ion-icon>
                </div>
            </div>
        </div>
    <!-- </ion-toolbar> -->
    
</ion-footer>