.btn {
    padding: 5px 10px;
    border-radius: var(--border-radius);
    font-size: 14px;
    height: 36px;

    &.btn-light {
        background-color: var(--ion-color-light);
        color: var(--ion-color-light-contrast);

        &:hover {
            background-color: var(--ion-color-light-contrast);
            color: var(--ion-color-light);
        }
    }

    &.btn-medium {
        background-color: var(--ion-color-medium);

        &:hover {
            background-color: var(--ion-color-medium-contrast);
        }
    }

    .btn-naked {
        border: none;
        background-color: transparent;
    }
}