.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-right {
    text-align: right;
}

.text-bold {
    font-weight: bold;
}

.title {
    font-size: 5vw;
    font-weight: bold;
    color: var(--ion-color-dark);
}

.subtitle {
    font-size: 4vw;
    color: var(--ion-color-medium);
}