:root {
    // --ion-color-primary: #2D336B;
    // --ion-color-secondary: #7886C7;

    --ion-background-color: transparent; // to remove background of ion-content
    --color-pure-white: #ffffff;

    --gap-sm: 10px;
    --gap: 15px;
    --gap-md: 25px;

    --gap-vw: 3vw;
    --gap-vw-md: 6vw;
    --gap-vw-lg: 9vw;
    
    --padding: 15px;
    --border-radius: 25px;
    --border-radius-lvl2: 18px;
    --box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}