.verses-wrap {
    text-align: justify;
    line-height: 1.5rem;

    .verse-num {
        color: var(--ion-color-medium);
        vertical-align: super;
        font-size: 13px;
        padding: 0 5px;
    }
}